input[type="number"] {
  max-width: 65%;
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

div.dataExplorer {
  padding: 60px 0px 0px 0px;
}

div.contact {
  padding: 60px 60px 60px 60px;
}

#contactInfo {
  line-height: 75%;
}

/* Customize fonts */
  body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
  }
h1, h2, h3, h4 { font-weight: 400; }

strong { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 400; 
}

#sidebar {
  background-color: white;
  padding: 5px 0px 0px 25px;
  right: 0px;
  border: none;
}

#filterWithScroll {
  overflow-y:scroll;
  max-height: 95vh;
}

#filterInputs {
  background-color: white;
  padding: 0px 0px 0px 0px;
  right: 0px;
  border: none;
}